/* styles.css */
body {
    font-family: Arial, sans-serif;
}

/* Style dla jasnego motywu */
body {
    background-color: white;
    color: black;
}

/* Style dla ciemnego motywu */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}