---
---
<div id="cookie-banner" class="cookie-banner">
    <div class="cookie-content">
        <p>Ta strona używa plików cookies w celach analitycznych (m.in. Google Analytics, Microsoft Clarity). Czy
            wyrażasz zgodę na ich
            użycie?</p>
        <div class="cookie-buttons">
            <button id="accept-cookies" class="btn-primary btn-sm">Zgadzam się</button>
            <button id="decline-cookies" class="btn-secondary btn-sm">Odrzucam</button>
        </div>
    </div>
</div>
