---
---
<footer>
    <div class="container">
        <p>&copy; {new Date().getFullYear()} Jan Grudziński. Wszelkie prawa zastrzeżone.</p>
        <div class="footer-links">
            <a href="/privacy" id="open-privacy">Polityka Prywatności</a>
        </div>
    </div>
</footer>
