---
---
<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">JG.</a>
        <ul class="nav-links">
            <li><a href="/#about">O mnie</a></li>
            <li class="dropdown">
                <a href="/#experience">Doświadczenie</a>
                <ul class="dropdown-menu">
                    <li><a href="/cybersecurity">Cybersecurity</a></li>
                    <li><a href="/web-dev">Web Dev</a></li>
                    <li><a href="/telecom">Telekomunikacja</a></li>
                </ul>
            </li>
            <li><a href="/#skills">Umiejętności</a></li>
            <li><a href="/#education">Edukacja</a></li>
            <li><a href="/#contact" class="btn-primary">Kontakt</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
